In [1]:
import pandas as pd

# Dictionary of days and dates
days_dates = {
    "Monday": "2023-07-03",
    "Tuesday": "2023-07-04",
    "Wednesday": "2023-07-05",
    "Thursday": "2023-07-06",
    "Friday": "2023-07-07",
    "Saturday": "2023-07-08",
    "Sunday": "2023-07-09"
}

# Create a pandas Series from the dictionary
series_days_dates = pd.Series(days_dates)

# Display the pandas Series
print(series_days_dates)

Monday       2023-07-03
Tuesday      2023-07-04
Wednesday    2023-07-05
Thursday     2023-07-06
Friday       2023-07-07
Saturday     2023-07-08
Sunday       2023-07-09
dtype: object

In [2]:
import pandas as pd

# Dictionary of days and dates
days_dates = {
    "Monday": "2023-07-03",
    "Tuesday": "2023-07-04",
    "Wednesday": "2023-07-05",
    "Thursday": "2023-07-06",
    "Friday": "2023-07-07",
    "Saturday": "2023-07-08",
    "Sunday": "2023-07-09"
}

# Filter the dictionary for Monday and Tuesday
filtered_days_dates = {day: date for day, date in days_dates.items() if day in ["Monday", "Tuesday"]}

# Create a pandas Series from the filtered dictionary
series_days_dates = pd.Series(filtered_days_dates)

# Display the pandas Series
print(series_days_dates)

Monday     2023-07-03
Tuesday    2023-07-04
dtype: object

In [3]:
import pandas as pd

# Dictionary of African countries and presidents
african_countries = {
    "Nigeria": "Muhammadu Buhari",
    "South Africa": "Cyril Ramaphosa",
    "Egypt": "Abdel Fattah el-Sisi",
    "Kenya": "Uhuru Kenyatta",
    "Ethiopia": "Sahle-Work Zewde",
    "Algeria": "Abdelmadjid Tebboune"
}

# Create a DataFrame from the dictionary
df_african = pd.DataFrame(list(african_countries.items()), columns=["Country", "President"])

# Display the DataFrame
print(df_african)

        Country             President
0       Nigeria      Muhammadu Buhari
1  South Africa       Cyril Ramaphosa
2         Egypt  Abdel Fattah el-Sisi
3         Kenya        Uhuru Kenyatta
4      Ethiopia      Sahle-Work Zewde
5       Algeria  Abdelmadjid Tebboune

In [4]:
import pandas as pd

# Dictionary of Arabic countries and presidents
arabic_countries = {
    "Egypt": "Abdel Fattah el-Sisi",
    "Saudi Arabia": "Salman bin Abdulaziz Al Saud",
    "United Arab Emirates": "Khalifa bin Zayed Al Nahyan",
    "Qatar": "Tamim bin Hamad Al Thani",
    "Kuwait": "Nawaf Al-Ahmad Al-Jaber Al-Sabah",
    "Oman": "Haitham bin Tariq Al Said"
}

# Create a DataFrame from the dictionary
df_arabic = pd.DataFrame(list(arabic_countries.items()), columns=["Country", "President"])

# Display the DataFrame
print(df_arabic)

                Country                         President
0                 Egypt              Abdel Fattah el-Sisi
1          Saudi Arabia      Salman bin Abdulaziz Al Saud
2  United Arab Emirates       Khalifa bin Zayed Al Nahyan
3                 Qatar          Tamim bin Hamad Al Thani
4                Kuwait  Nawaf Al-Ahmad Al-Jaber Al-Sabah
5                  Oman         Haitham bin Tariq Al Said

In [5]:
import pandas as pd

# Dictionary of days and dates
days_dates = {
    "Monday": "2023-07-03",
    "Tuesday": "2023-07-04",
    "Wednesday": "2023-07-05",
    "Thursday": "2023-07-06",
    "Friday": "2023-07-07",
    "Saturday": "2023-07-08",
    "Sunday": "2023-07-09"
}

# Filter the dictionary for Monday and Tuesday
filtered_days_dates = {day: date for day, date in days_dates.items() if day in ["Monday", "Tuesday"]}

# Create a DataFrame from the filtered dictionary
df_days_dates = pd.DataFrame(list(filtered_days_dates.items()), columns=["Day", "Date"])

# Display the DataFrame
print(df_days_dates)

       Day        Date
0   Monday  2023-07-03
1  Tuesday  2023-07-04

In [1]:
###Analysing and cleaning data

In [10]:
import pandas as pd
mine = pd.read_csv('https://raw.githubusercontent.com/techymaj/recess-2/main/Exercise%20Python/mine.csv')
mine

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [11]:
###using head() method to display the first few rows of the DataFrame
print(mine.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [12]:
###Using the tail() method to display the last few rows of the dataframe
print(mine.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
###using the the info() method method to get information about the DataFrame, including column names, data types, and non-null counts
print(mine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [19]:
print("Before dropna:")
print(mine)

initial_rows = len(mine)

mine.dropna(inplace=True)

print("After dropna:")
print(mine)

final_rows = len(mine)
rows_dropped = initial_rows - final_rows
print(f"{rows_dropped} rows were dropped due to missing values.")

Before dropna:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]
After dropna:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]
0 rows were dropped due to missing values.

In [20]:
#Using the fillna() method
print("Before fillna:")
print(mine)

mean_calories = mine['Calories'].mean()
mine['Calories'].fillna(mean_calories, inplace=True)

print("After fillna:")
print(mine)

print("Missing values in 'Calories' were filled with the mean value.")

Before fillna:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]
After fillna:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]
Missing values in 'Calories' were filled with the mean value.

In [22]:
###Remove wrong data from the dataframe

import pandas as pd

# Load the CSV file from the URL
mine = pd.read_csv('https://raw.githubusercontent.com/techymaj/recess-2/main/Exercise%20Python/mine.csv')

# Define conditions to filter wrong data
duration_condition = (mine['Duration'] >= 0)
pulse_condition = (mine['Pulse'] >= 0)
maxpulse_condition = (mine['Maxpulse'] >= 0)
calories_condition = (mine['Calories'] >= 0)

# Filter the DataFrame based on the conditions
mine = mine[duration_condition & pulse_condition & maxpulse_condition & calories_condition]

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(mine)

Cleaned DataFrame:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [23]:
import pandas as pd


# Convert the 'Duration', 'Pulse', 'Maxpulse', and 'Calories' columns to the correct format
mine['Duration'] = pd.to_numeric(mine['Duration'], errors='coerce')
mine['Pulse'] = pd.to_numeric(mine['Pulse'], errors='coerce')
mine['Maxpulse'] = pd.to_numeric(mine['Maxpulse'], errors='coerce')
mine['Calories'] = pd.to_numeric(mine['Calories'], errors='coerce')

# Remove rows with wrong formats
mine.dropna(subset=['Duration', 'Pulse', 'Maxpulse', 'Calories'], inplace=True)

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(mine)

Cleaned DataFrame:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [24]:
import pandas as pd

# Remove duplicates
mine.drop_duplicates(inplace=True)

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(mine)

Cleaned DataFrame:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[157 rows x 4 columns]

In [25]:
# Perform correlation analysis
correlation_matrix = mine.corr()

# Display the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.167770 -0.000501  0.923053
Pulse    -0.167770  1.000000  0.784994  0.015301
Maxpulse -0.000501  0.784994  1.000000  0.195309
Calories  0.923053  0.015301  0.195309  1.000000

In [27]:
#Aalyzing the work.csv file

In [28]:
import pandas as pd

# Load the CSV file from the URL
work = pd.read_csv('https://raw.githubusercontent.com/techymaj/recess-2/main/Exercise%20Python/Work.csv')

# Display the DataFrame
print(work)

     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [29]:
print(work.head())

     Name         city  age py-score
0    Emma      Kampala   23       90
1  Wilber        Mbale   26       75
2   Robin         Gulu   25     mine
3   Tevor  Livingstone  NaN       89
4    Yeko       Tororo   20       94

In [30]:
print(work.tail())

     Name         city    age py-score
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [31]:
print(work.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7 non-null      object
 1   city      7 non-null      object
 2   age       6 non-null      object
 3   py-score  6 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes
None

In [32]:
print("Before dropna:")
print(work)

initial_rows = len(work)

work.dropna(inplace=True)

print("After dropna:")
print(work)

final_rows = len(work)
rows_dropped = initial_rows - final_rows
print(f"{rows_dropped} rows were dropped due to missing values.")

Before dropna:
     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84
After dropna:
     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84
2 rows were dropped due to missing values.

In [34]:
print("Before fillna:")
print(work)

mean_age = work['age'].mean()
work['age'].fillna(mean_age, inplace=True)

print("After fillna:")
print(work)

print("Missing values in 'age' were filled with the mean value.")

Before fillna:
     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84
After fillna:
     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84
Missing values in 'age' were filled with the mean value.

In [36]:
# Convert 'age' and 'py-score' columns to numeric data types
work['age'] = pd.to_numeric(work['age'], errors='coerce')
work['py-score'] = pd.to_numeric(work['py-score'], errors='coerce')

# Define conditions to filter wrong data
age_condition = (work['age'] >= 0)
py_score_condition = (work['py-score'] >= 0)

# Filter the DataFrame based on the conditions
work = work[age_condition & py_score_condition]

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(work)

Cleaned DataFrame:
     Name     city  age  py-score
0    Emma  Kampala   23      90.0
1  Wilber    Mbale   26      75.0
4    Yeko   Tororo   20      94.0
6   Jesca  Mbarara   21      84.0

In [40]:
import pandas as pd

# Convert the columns to the correct format using .copy()
work_copy = work.copy()
work_copy['age'] = pd.to_numeric(work_copy['age'], errors='coerce')
work_copy['py-score'] = pd.to_numeric(work_copy['py-score'], errors='coerce')

# Remove rows with wrong formats
work_cleaned = work_copy.dropna(subset=['age', 'py-score'])

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(work_cleaned)

Cleaned DataFrame:
     Name     city  age  py-score
0    Emma  Kampala   23      90.0
1  Wilber    Mbale   26      75.0
4    Yeko   Tororo   20      94.0
6   Jesca  Mbarara   21      84.0

In [42]:
# Remove duplicates
work_copy = work.copy()
work_copy.drop_duplicates(inplace=True)

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(work_copy)

Cleaned DataFrame:
     Name     city  age  py-score
0    Emma  Kampala   23      90.0
1  Wilber    Mbale   26      75.0
4    Yeko   Tororo   20      94.0
6   Jesca  Mbarara   21      84.0

In [43]:
# Calculate correlation matrix
correlation_matrix = work.corr()

# Display correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
               age  py-score
age       1.000000 -0.815891
py-score -0.815891  1.000000