In [1]:
import pandas as pd

# Dictionary of days and dates
days_dates = {
    "Monday": "2023-07-03",
    "Tuesday": "2023-07-04",
    "Wednesday": "2023-07-05",
    "Thursday": "2023-07-06",
    "Friday": "2023-07-07",
    "Saturday": "2023-07-08",
    "Sunday": "2023-07-09"
}

# Create a pandas Series from the dictionary
series_days_dates = pd.Series(days_dates)

# Display the pandas Series
print(series_days_dates)

Monday       2023-07-03
Tuesday      2023-07-04
Wednesday    2023-07-05
Thursday     2023-07-06
Friday       2023-07-07
Saturday     2023-07-08
Sunday       2023-07-09
dtype: object

In [2]:
import pandas as pd
df = pd.read_csv('bse_dataset4.csv')
print(df)

               Timestamp         gender   Age  emotion   YOB     CGPA  \
0    05/07/2023 09:38:39           Male  21.0  Content  2002     4.22
1    05/07/2023 09:38:57  Marabou stock  45.0    Weird  2100      8.9
2    05/07/2023 09:39:09        Female   20.0    Happy  2002     3.98
3    05/07/2023 09:39:12           Male  21.0    Happy  2003     4.37
4    05/07/2023 09:39:14         Female  21.0    Happy  2002     3.63
..                   ...            ...   ...      ...   ...      ...
164  05/07/2023 09:44:09           Male  22.0   Angry   1999      3.5
165  05/07/2023 09:44:14           male  23.0      sad  1999        4
166  05/07/2023 09:44:15           male  20.0     calm  2002      3.7
167  05/07/2023 09:44:35         Female  21.0      sad  2001      3.8
168  05/07/2023 09:45:13         Female  20.0    Happy  2022  4......

    Do you have a Girl Friend or BOY Friend Do you have Depression?  \
0                                        No                      No
1                                       Yes                     Yes
2                                        No                      No
3                                        No                      No
4                                        No                      No
..                                      ...                     ...
164                                    Yes                       No
165                                      no                      no
166                                     yes                      no
167                                      no                      no
168                                      no                      no

    Do you have Anxiety? Do you have Panic attack?  \
0                    Yes                       Yes
1                    Yes                       Yes
2                    Yes                       Yes
3                     No                        No
4                     No                        No
..                   ...                       ...
164                   No                       No
165                   no                        no
166                   no                        no
167                  yes                        no
168                   no                       yes

    Did you have seek any specialist for a treatment?   Duration  Pulse  \
0                                                  Yes        60    110
1                                                   No        60    117
2                                                   No        60    103
3                                                 Nope        45    109
4                                                   No        45    117
..                                                 ...       ...    ...
164                                                 No        60    105
165                                                 no        60    110
166                                                 no        60    115
167                                                 no        75    120
168                                                 no        75    125

     Maxpulse  Calories
0         130     409.1
1         145     479.0
2         135     340.0
3         175     282.4
4         148     406.0
..        ...       ...
164       140     290.8
165       145     300.0
166       145     310.2
167       150     320.4
168       150     330.4

[169 rows x 15 columns]

In [3]:
df.head()  # Display the first 5 rows of the DataFrame
df.head(10)  # Display the first 10 rows of the DataFrame

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
5,NaN,Female,23.0,Happy,2000,3.8,No,No,No,No,No,60,102,127,300.0
6,05/07/2023 09:39:21,female,21.0,irritated,2001,3.88,no,no,no,yes,yes,60,110,136,374.0
7,05/07/2023 09:39:23,Female,22.0,In a state of wonder,2001,3.79,No,No,No,No,Nope,45,104,134,253.3
8,05/07/2023 09:39:26,Male,22.0,Sad,2001,4.7,Yes,Yes,No,No,No,30,109,133,195.1
9,05/07/2023 09:39:27,Female,20.0,happy,2002,4,No,No,No,Yes,YES,60,98,124,269.0

In [4]:
df.tail()  # Display the last 5 rows of the DataFrame
df.tail(10)  # Display the last 10 rows of the DataFrame

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
159,05/07/2023 09:43:05,Male,22.0,Joyful,2001,4.08,Yes,No,No,No,NO,30,80,120,240.9
160,05/07/2023 09:43:08,Female,21.0,Nonchalant,2002,4.5,Yes,No,No,No,No,30,85,120,250.4
161,05/07/2023 09:43:22,male,23.0,excited,2000,4.16,yes,no,no,no,no,45,90,130,260.4
162,05/07/2023 09:43:36,male,21.0,stressed,2002,4.4,yes,no,yes,no,no,45,95,130,270.0
163,05/07/2023 09:43:56,Male,21.0,Relaxed,2001,4.5,No,No,No,No,No,45,100,140,280.9
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [5]:
df.info()  # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 15 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Timestamp                                           168 non-null    object
 1   gender                                              169 non-null    object
 2   Age                                                 167 non-null    float64
 3   emotion                                             168 non-null    object
 4   YOB                                                 169 non-null    object
 5   CGPA                                                169 non-null    object
 6   Do you have a Girl Friend or BOY Friend             169 non-null    object
 7   Do you have Depression?                             169 non-null    object
 8   Do you have Anxiety?                                169 non-null    object
 9   Do you have Panic attack?                           169 non-null    object
 10  Did you have seek any specialist for a treatment?   169 non-null    object
 11  Duration                                            169 non-null    int64
 12  Pulse                                               169 non-null    int64
 13  Maxpulse                                            169 non-null    int64
 14  Calories                                            164 non-null    float64
dtypes: float64(2), int64(3), object(10)
memory usage: 19.9+ KB

In [6]:
df.dropna()  # Remove rows with any NaN value
df.dropna(axis=1)  # Remove columns with any NaN value

,gender,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse
0,Male,2002,4.22,No,No,Yes,Yes,Yes,60,110,130
1,Marabou stock,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145
2,Female,2002,3.98,No,No,Yes,Yes,No,60,103,135
3,Male,2003,4.37,No,No,No,No,Nope,45,109,175
4,Female,2002,3.63,No,No,No,No,No,45,117,148
...,...,...,...,...,...,...,...,...,...,...,...
164,Male,1999,3.5,Yes,No,No,No,No,60,105,140
165,male,1999,4,no,no,no,no,no,60,110,145
166,male,2002,3.7,yes,no,no,no,no,60,115,145
167,Female,2001,3.8,no,no,yes,no,no,75,120,150
168,Female,2022,4......,no,no,no,yes,no,75,125,150

In [7]:
df.fillna(0)  # Fill NaN values with 0
df.fillna(method='ffill')  # Forward fill NaN values with the previous non-null value

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4